$primary-color:blue;
$secondary-color:green;
$neutral-color:red;
$secondary_color: #fcc850;
$third_color: #393E46;
$fourth_color: #222831;
$fifth_color: #EEEEEE;
$font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;